@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
}

/* Align radios and text inputs with their label */

input[type='radio'] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -.7em;
}

sub {
  bottom: -.25em;
}

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1450px;
  width: 94%;
  margin: 0 auto;
}

.heading {
  color: #222222;
  font-family: 'Tillana', sans-serif;
  font-size: 56px;
  font-weight: bold;
}

.transition-ease {
  transition: .3s all ease;
}

/*=================================
  Header styling starts here
=================================*/

header {
  background-color: transparent;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

header .wrapper {
  border-bottom: 2px solid #fafafa;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hamburger {
  display: none;
}

h1 img {
  float: left;
}

h1 a {
  text-indent: -9999px;
}

nav {
  display: flex;
  align-items: center;
  padding: 47px 0 46px;
  letter-spacing: 1px;
}

.nav-list {
  margin-right: 16px;
}

.nav-list li a {
  padding: 8px 15px;
  margin: 2px 9px;
  margin-right: 7px;
  color: #fafafa;
  font-size: 17px;
  font-weight: 500;
}

.nav-list li:nth-child(1) a::after,
.nav-list li:nth-child(2) a::after,
.nav-list li:last-child a::after {
  margin-left: 10px;
  content: "\f0d7";
  font-family: "fontAwesome";
  color: #fafafa;
  font-size: 10px;
}

.header-icons {
  display: flex;
  align-items: center;
  margin-right: 12px;
}

.header-icons li a {
  text-indent: -9999px;
}

.header-icons li a::before {
  font-family: "fontAwesome";
  text-indent: 0;
  padding: 0 5px;
  color: #fafafa;
  cursor: pointer;
  float: right;
}

.bag a::before {
  content: "\f290";
  font-size: 30px;
  margin-right: 5px;
}

.search a::before {
  content: "\f002";
  font-size: 16px;
}

/*=================================
  Header styling ends here
=================================*/
/* 1516x681 */
/*=================================
  main styling starts here
=================================*/

/* banner start */

.banner {
  background: url('https://www.dummyimage.com/1516x681/232330/fff') no-repeat center center/cover;
  padding-top: 680px;
}

.banner p {
  text-indent: -9999px;
}

/* banner end */

/* designs start */

.designs {
  padding-top: 100px;
  background-color: #b4c3cb;
}

.designs .heading {
  margin-bottom: 66px;
  text-align: center;
}

.design-img {
  display: flex;
  justify-content: space-between;
}

.left,
.right {
  display: flex;
  flex-direction: column;
}

.left li img,
.right li img {
  box-shadow: 10px 10px 5px #6d7e87;
}

.left li {
  margin-bottom: 20px;
}

.right li:first-child {
  margin-bottom: 20px;
}

.right {
  margin-bottom: 198px;
}

/* designs end */

/* testimonial start */

.testimonial {
  padding: 72px 0 0;
  margin-bottom: 94px;
  background-color: #222222;
}

.testimonial .wrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
}

.slides {
  display: none;
}

.active-slide {
  display: flex;
  justify-content: space-between;
}

.active-slide .para {
  max-width: 67%;
  padding-bottom: 112px;
  margin-left: 13.5%;
  color: #fbffff;
  font-size: 37px;
  font-family: 'Tillana', sans-serif;
}

.active-slide .para~figure {
  margin-right: 5.4%;
}

.active-slide .para~figure img {
  border-radius: 50%;
  margin-bottom: 20px;
}

.apostrophe {
  position: absolute;
  top: -10%;
  left: 2%;
}

figcaption {
  font-size: 18px;
  color: #fe7458;
}

.prev-next {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 15.4%;
  bottom: 1%;
}

.prev-next li a {
  text-indent: -9999px;
}

.prev::after,
.next::after {
  content: '\f04a';
  padding: 12px;
  border: 1px solid #fe7458;
  font-family: "fontAwesome";
  text-indent: 0;
  font-size: 8px;
  color: #fe7458;
  float: right;
}

.next::after {
  content: '\f04e';
  margin-left: 8px;
}

.test-btns {
  position: absolute;
  color: #fff;
  left: 50%;
  bottom: 1%;
  transform: translate(-50%, -50%);
}

.test-btns li a {
  float: right;
  text-indent: -9999px;
}

.test-btns li a::after {
  content: '';
  width: 12px;
  height: 12px;
  background-color: #fe7458;
  opacity: .2;
  margin-right: 10px;
  border-radius: 50%;
  float: right;
}

.prev-next,
.test-btns {
  padding-bottom: 13px;
}

/* testimonial end */

/* authors start */

.author-list {
  margin-bottom: 111px;
  display: flex;
  justify-content: space-between;
}

.author-list li img {
  border-radius: 50%;
  margin-bottom: 13px;
}

.author-list li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 23px;
  text-align: center;
}

.author-name {
  color: #374153;
}

.prof {
  color: #f6fbf3;
}

/* authors end */

/* top start */

.top {
  padding-bottom: 150px;
}

.top .wrapper,
.authors .wrapper {
  max-width: 1440px;
  width: 93%;
}

.design-list {
  display: flex;
  justify-content: space-between;
}

.design-list li {
  display: flex;
  flex-direction: column;
  flex-basis: 23%;
  box-shadow: 7px 7px 3px #6d7e87;
  background-color: #fff;
  line-height: 35px;
  padding-bottom: 26px;
}

.design-list li:last-child {
  margin-right: 2%;
}

.design-list li img {
  margin-bottom: 15px;
}

.design-list li a,
.design-list li span {
  font-size: 18px;
  margin-left: 16px;
}

.design-list li a {
  color: #26222e;
}

.design-list li span {
  color: #ff889c;
}

.design-list li:last-child .price {
  text-decoration: line-through;
}

.design-list li:last-child .discount {
  text-decoration: none;
}

/* top end */

/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/

.footer-top {
  background-color: #222222;
}

.top-list {
  padding: 62px 0 124px;
  display: flex;
  justify-content: space-between;
}

.top-list .heading {
  margin-bottom: 26px;
  color: #fffbf6;
  font-family: monospace;
  font-size: 22px;
}

.top-list li {
  flex-basis: 25%;
}

.about .para {
  color: #fdfef0;
  line-height: 22px;
}

.top-list li:last-child {
  flex-basis: 17.5%;
  margin-right: 12%;
}

.sponsor img {
  max-width: 100%;
  border: 1px solid #fdfef0;
  border-top: 0;
}

.footer-low {
  background-color: #000;
}

.footer-low .wrapper {
  padding: 3px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-list li a {
  text-indent: -9999px;
}

.social-list a::before {
  color: #b4c3cb;
  font-family: "FontAwesome";
  float: left;
  text-indent: 0;
}

.facebook a::before,
.twitter a::before,
.youtube a::before,
.instagram a::before {
  content: "\f082";
  margin-right: 20px;
  font-size: 22px;
}

.twitter a::before {
  content: "\f099";
}

.youtube a::before {
  content: "\f167";
}

.instagram a::before {
  content: "\f16d";
}

.policy li:last-child {
  border-left: 1px solid #b4c3cb;
}

.policy li a {
  margin: 6px;
  font-size: 15px;
  color: #b4c3cb;
}

/*=================================
  footer styling ends here
=================================*/

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (min-width: 995px) {

  /* hover effects start */

  .nav-list li a:hover,
  .nav-list li a:hover::after,
  .social-list li a:hover::before,
  .footer-low a:hover, .design-list li a:hover {
    color: #fe7458;
    transition: .3s all ease;
  }

  .header-icons li a:hover::before {
    color: #fe7458;
    transition: .3s all ease;
  }

  .design-img img:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: .5s all ease;
  }

  .slider-btns a:hover::after {
    background-color: #f6fbf3;
    transition: .3s all ease;
  }

  /* hover effects end */

}