@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
}

/* Align radios and text inputs with their label */

input[type='radio'] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -.7em;
}

sub {
  bottom: -.25em;
}

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1450px;
  width: 94%;
  margin: 0 auto;
}

.heading {
  color: #222222;
  font-size: 56px;
}

/*=================================
  Header styling starts here
=================================*/

header {
  background-color: transparent;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

header .wrapper {
  border-bottom: 2px solid #fafafa;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hamburger {
  display: none;
}

h1 img {
  float: left;
}

h1 a {
  text-indent: -9999px;
}

nav {
  display: flex;
  align-items: center;
  padding: 47px 0 46px;
  letter-spacing: 1px;
}

.nav-list {
  margin-right: 16px;
}

.nav-list li a {
  padding: 8px 15px;
  margin: 2px 9px;
  margin-right: 7px;
  color: #fafafa;
  font-size: 17px;
  font-weight: 500;
}

.nav-list li:nth-child(1) a::after,
.nav-list li:nth-child(2) a::after,
.nav-list li:last-child a::after {
  margin-left: 10px;
  content: "\f0d7";
  font-family: "fontAwesome";
  color: #fafafa;
  font-size: 10px;
}

.header-icons {
  display: flex;
  align-items: center;
  margin-right: 12px;
}

.header-icons li a {
  text-indent: -9999px;
}

.header-icons li a::before {
  font-family: "fontAwesome";
  text-indent: 0;
  padding: 0 5px;
  color: #fafafa;
  cursor: pointer;
  float: right;
}

.bag a::before {
  content: "\f290";
  font-size: 30px;
  margin-right: 5px;
}

.search a::before {
  content: "\f002";
  font-size: 16px;
}

/*=================================
  Header styling ends here
=================================*/
/* 1516x681 */
/*=================================
  main styling starts here
=================================*/

/* banner start */

.banner {
  background: url('https://www.dummyimage.com/1516x681/232330/fff') no-repeat center center/cover;
  padding-top: 680px;
}

.banner p {
  text-indent: -9999px;
}

/* banner end */

/* designs start */

.designs {
  padding-top: 100px;
  background-color: #b4c3cb;
}

.designs .heading {
  margin-bottom: 66px;
  text-align: center;
}

.design-img {
  display: flex;
  justify-content: space-between;
}

.left,
.right {
  display: flex;
  flex-direction: column;
}

.left li img,
.right li img {
  box-shadow: 10px 10px 5px #6d7e87;
}

.left li {
  margin-bottom: 20px;
}

.right li:first-child {
  margin-bottom: 20px;
}

.right {
  margin-bottom: 198px;
}

/* designs end */

/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/







/*=================================
  footer styling ends here
=================================*/

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {}